<div style="color: red"><%= flash[:message] -%></div>

<div class="search_form">
<%= form_for :checked_item, :html => {:method => :post}, :url => basket_checked_items_path(@basket), :remote => true do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= t('activerecord.attributes.item.item_identifier') -%>: <%= f.search_field :item_identifier -%>
    <%= t('checked_item.ignore_restriction') -%>: <%= f.check_box :ignore_restriction -%>
    <%= f.submit t('page.read'), :disable_with => t('page.saving') -%>
  </p>
<%- end -%>
<%= javascript_tag("$('#checked_item_item_identifier').focus()") -%>
</div>

<%= render 'checked_item' %>

<%= form_for(:basket, :url => {:controller => 'baskets', :action => 'update', :id => @basket.id}, :html => { :method => :put }) do |f| -%>
  <div>
    <%= f.submit t('checked_item.checkout'), :disable_with => t('page.saving') -%>
  </div>
<%- end -%>
