<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @demand.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @demand.item_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @demand.message_id %>
</p>

<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
