<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.models.user') %></th>
    <th class="checked_item_title"><%= t('page.title') %></th>
    <th><%= t('activerecord.attributes.checkout.due_date') %></th>
    <th></th>
  </tr>

<%- if @checkouts -%>
  <%- @checkouts.each_with_index do |checkout, i| %>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <% if checkout.user %>
        <%= link_to checkout.user_username, checkout.user %>
        <br />
        (<%= link_to checkout.user_user_number, checkout.user %>)
      <% end %>
    </td>
    <td>
      <%= render 'manifestations/show_index', :manifestation => checkout.item.manifestation -%>
      (<%= link_to checkout.item.item_identifier, checkout.item -%>)
    </td>
    <td>
      <%= l(checkout.due_date, :format => :only_date) -%>
      <br />
      <% if checkout.checkin %>
        <strong><%= t('checkout.returned') %></strong>
      <% end %>
    </td>
    <td>
      <%- if can? :update, checkout -%>
        <% unless checkout.checkin %>
          <%= link_to t('checkout.extend'), edit_checkout_path(checkout) -%>
        <% end %>
      <%- end -%>
      <%- if can? :destroy, checkout -%>
        <%= link_to t('page.destroy'), checkout, :data => {:confirm => t('page.are_you_sure')}, :method => :delete -%>
      <%- end -%>
    </td>
  </tr>
  <%- end -%>
<%- end -%>
</table>

<%= paginate(@checkouts) %>
