    <table class="table table-striped index">
      <tr>
        <th>
          <%= t('activerecord.models.shelf') %>
          (<%= t('activerecord.models.library') %>)
        </th>
        <% CarrierType.order(:position).each do |carrier_type| %>
          <th><%= carrier_type.display_name.localize %></th>
        <% end %>
        <th><%= t('page.total') %></th>
      </tr>
      <% (Shelf.order(:position) << nil).each do |shelf| %>
        <tr>
          <td>
            <% if shelf %>
              <strong><%= shelf.display_name.localize %></strong>
              <strong>(<%= shelf.library.display_name.localize %>)</strong>
            <% else %>
              <strong><%= t('page.unknown') %></strong>
            <% end %>
          </td>
          <% CarrierType.order(:position).each do |carrier_type| %>
            <td>
              <% if shelf %>
                <%= @carrier_type_results[[shelf.id, carrier_type.id]] %>
              <% else %>
                <%= @carrier_type_results[[nil, carrier_type.id]] %>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if shelf %>
              <%= @carrier_type_results.select{|r| r[0] == shelf.id}.sum{|k, v| v} %>
            <% else %>
              <%= @carrier_type_results.select{|r| r[0].nil?}.sum{|k, v| v} %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong><%= t('page.total') %></strong></td>
        <% CarrierType.order(:position).each do |carrier_type| %>
          <td>
            <%= @carrier_type_results.select{|r| r[1] == carrier_type.id}.sum{|k, v| v} %>
          </td>
        <% end %>
        <td><%= @carrier_type_results.sum{|k, v| v} %></td>
      </tr>
    </table>
