<%= paginate(stats, remote: true) -%>

<% breakdown = Checkout.where(
    Checkout.arel_table[:created_at].gteq @manifestation_checkout_stat.start_date
  ).where(
    Checkout.arel_table[:created_at].lt @manifestation_checkout_stat.end_date
  ).joins(item: [:shelf, :manifestation]).group(:carrier_type_id).merge(
    Manifestation.where(carrier_type_id: CarrierType.pluck(:id))
  ).order(:carrier_type_id).count(:id) %>

<table class="table table-striped index">
  <tr>
    <th><%= t('activerecord.models.manifestation') -%></th>
    <th><%= t('activerecord.attributes.checkout_stat_has_manifestation.checkouts_count') -%></th>
  </tr>
  <%- stats.count(:id).each do |stat| -%>
    <tr class="line<%= cycle("0", "1") -%>">
      <td>
        <% manifestation = Manifestation.where(id: stat[0]).first %>
        <%= render 'manifestations/show_index', manifestation: manifestation if manifestation %>
      </td>
      <td><%= stat[1] %></td>
    </tr>
  <%- end -%>
  <tr>
    <td></td>
    <% breakdown.each do |carrier_type_id, count| %>
      <td><%= CarrierType.find(carrier_type_id).display_name.localize %></td>
      <td><%= count %></td>
    <% end %>
  </tr>
</table>

<%= paginate(stats, remote: true) -%>
