<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.showing', model: t('activerecord.models.manifestation_checkout_stat')) -%></h1>
<div id="content_list">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_checkout_stat.start_date') -%>:</strong>
  <%= l(@manifestation_checkout_stat.start_date) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_checkout_stat.end_date') -%>:</strong>
  <%= l(@manifestation_checkout_stat.end_date) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_checkout_stat.state') -%>:</strong>
  <%= localized_state(@manifestation_checkout_stat.current_state) -%>
</p>

<p>
  <strong><%= t('activerecord.attributes.manifestation_checkout_stat.note') -%>:</strong>
  <%= @manifestation_checkout_stat.note -%>
</p>

<div id="tabs">
  <ul>
    <li title="active" class="selected"><a href="#tab1"><em><%= t('statistic.by_carrier_type') -%></em></a></li>
    <li><a href="#tab2"><em><%= t('statistic.by_manifestation') -%></em></a></li>
  </ul>
  <div id="tab1">
    <table class="table table-striped index">
      <tr>
        <th></th>
        <% CarrierType.order(:position).each do |carrier_type| %>
          <th><%= carrier_type.display_name.localize %></th>
        <% end %>
      </tr>
      <% Shelf.order(:library_id, :position).each do |shelf| %>
        <tr>
          <td><strong><%= shelf.display_name.localize %></strong></td>
          <% results = Checkout.where(
              Checkout.arel_table[:created_at].gteq @manifestation_checkout_stat.start_date
            ).where(
              Checkout.arel_table[:created_at].lt @manifestation_checkout_stat.end_date
            ).joins(item: [:shelf, :manifestation]).group(:carrier_type_id).merge(
              Manifestation.where(carrier_type_id: CarrierType.pluck(:id))
            ).merge(Shelf.where(id: shelf.id)).order('manifestations.carrier_type_id').count(:id) %>
          <% CarrierType.order(:position).each do |carrier_type| %>
            <td>
              <% results.each do |carrier_type_id, count| %>
                <%= count if carrier_type_id == carrier_type.id %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td><strong><%= t('page.total') %></strong></td>
        <% CarrierType.order(:position).each do |carrier_type| %>
          <td>
            <% @breakdown.each do |carrier_type_id, count| %>
              <%= count if carrier_type_id == carrier_type.id %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
  <div id="tab2">
    <div id="group_by_manifestation">
      <%= render 'group_by_manifestation', stats: @stats %>
    </div>
  </div>
</div>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <%= form_for(@manifestation_checkout_stat) do |f| %>
  <ul>
    <li><%= back_to_index(flash[:page_info]) -%></li>
  </ul>
  <% end %>
  <h4><%= t('page.export') -%></h4>
  <ul>
    <li><%= link_to 'TSV', manifestation_checkout_stat_path(@manifestation_checkout_stat, format: :txt, locale: @locale.to_s) -%></li>
  </ul>
</div>
