<div class="row">
  <div class="col-md-9">
    <h1 class="title"><%= t('page.new', model: t('activerecord.models.checkin')) -%></h1>
    <p id="notice"><%= notice %></p>
    <%= render 'list' -%>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.new', model: t('activerecord.models.checkout')), new_basket_path -%></li>
        <li><%= link_to t('page.listing', model: t('activerecord.models.checkin')), checkins_path -%></li>
      </ul>
    </div>
  </div>
</div>
